# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Appium Android Allure

on:
  push:
    branches: [ allure-android-profile ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api-level: [31]
        target: [default]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3.13.0
        with:
          java-version: 11
          distribution: 'adopt'

      - uses: actions/setup-node@v3.8.1
        with:
          node-version: '20.8.1'
      - run: |
          npm install -g appium
          appium -v
          appium driver install uiautomator2
          appium &>/dev/null &

      - name: Run Appium Tests
        uses: reactivecircus/android-emulator-runner@v2.28.0
        with:
          api-level: ${{ matrix.api-level }}
          #   force-avd-creation: false
          target: ${{ matrix.target }}
          profile: Nexus 6
          arch: x86_64
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: mvn clean test -Pandroid
          # script: ./gradlew connectedCheck

      - name: Allure report simple
        uses: esemi/action-allure-report@v0.2.0
        with:
         # Allure test result data dir
         results-dir: allure-results # default is allure-results

