name: Appium Android Allure

on:
  push:
    branches: [ allure-android-profile(2-environments) ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [31]
        target: [default]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3.13.0
        with:
          java-version: 11
          distribution: 'adopt'

      - uses: actions/setup-node@v3.8.1
        with:
          node-version: '20.8.1'
      - run: |
          npm install -g appium
          appium -v
          appium driver install uiautomator2
          appium &>/dev/null &

      - name: Run Appium Tests
        uses: reactivecircus/android-emulator-runner@v2.28.0
        with:
          api-level: ${{ matrix.api-level }}
          #   force-avd-creation: false
          target: ${{ matrix.target }}
          profile: Nexus 6
          arch: x86_64
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: mvn clean test -Pandroid
          # script: ./gradlew connectedCheck
  publishRepport:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get Allure history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: allure-android-profile
          path: allure-android-profile

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: target/allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history
