# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Appium Android

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [31]
        target: [default]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v3.13.0
      with:
        java-version: 11
        distribution: 'adopt'
    - uses: actions/setup-node@v3.8.1
      with:
       node-version: '20.8.1'
    - run: |
            npm install -g appium
            appium -v
            appium &>/dev/null &
    - name: Run Appium Tests
      uses: reactivecircus/android-emulator-runner@v2.28.0
      with:
        api-level: ${{ matrix.api-level }}
        target: ${{ matrix.target }}
        profile: Nexus 6
        arch: arm64-v8a
        script: mvn clean test -Pandroid
